# SECURITY (Deve coincidere in Gateway e Auth Service)
JWT_SECRET=insert_jwt_secret_here
JWT_EXPIRATION=3600000

# DATABASE URLS
CATALOG_DATASOURCE_URL=jdbc:postgresql://localhost:5435/resource_catalog_db
DEVELOPER_DATASOURCE_URL=jdbc:postgresql://localhost:5436/developer_collection_db
AUTH_DATASOURCE_URL=jdbc:postgresql://localhost:5437/auth_db

# DATABASE CREDENTIALS
DB_USERNAME=insert_db_username_here
DB_PASSWORD=insert_db_password_here

# SERVICE URLS (Per il Gateway)
RESOURCE_CATALOG_SERVICE_URL=http://resource-catalog-service:8080
DEVELOPER_COLLECTION_SERVICE_URL=http://developer-service:8081
AUTH_SERVICE_URL=http://auth-service:8082

# COMMON JPA CONFIG
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
API_GATEWAY_URL=http://localhost
